N_PLAYERS_TEAM=60
N_PLAYERS_PUSHING=5
N_TRIALS=6
N_GAMES=30
KNOCKOUT_DIF=12

CONFIG_HOST_NAME=127.0.0.1
CONFIG_PORT_NUM=9135

REPO_HOST_NAME=127.0.0.1
REPO_PORT_NUM=9136

REFSITE_HOST_NAME=127.0.0.1
REFSITE_PORT_NUM=9137

BENCH_HOST_NAME=127.0.0.1
BENCH_PORT_NUM=9138

PLAYG_HOST_NAME=127.0.0.1
PLAYG_PORT_NUM=9139


REFEREE_HOST_NAME=127.0.0.1
COACH_HOST_NAME=127.0.0.1
CONTESTANT_HOST_NAME=127.0.0.1

LOG_FILE_NAME=RopeGame.log
