N_PLAYERS_TEAM=100
N_PLAYERS_PUSHING=100
N_TRIALS=10
N_GAMES=5
KNOCKOUT_DIF=8
CONFIG_HOST_NAME=l040101-ws01.ua.pt
CONFIG_PORT_NUM=22239
REPO_HOST_NAME=l040101-ws02.ua.pt
REPO_PORT_NUM=22230
REFSITE_HOST_NAME=l040101-ws03.ua.pt
REFSITE_PORT_NUM=22231
BENCH_HOST_NAME=l040101-ws04.ua.pt
BENCH_PORT_NUM=22232
PLAYG_HOST_NAME=l040101-ws06.ua.pt
PLAYG_PORT_NUM=22233
REFEREE_HOST_NAME=l040101-ws10.ua.pt
COACH_HOST_NAME=l040101-ws08.ua.pt
CONTESTANT_HOST_NAME=l040101-ws09.ua.pt
LOG_FILE_NAME=RopeGame.log